@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", sans-serif;
}

/*navbar*/
.bg-white {
    background: transparent;
}

.navbar-brand img {
    height: 34px
}

/*Sections*/
body main {
    background-color: black;
}

.icono {
    display: ruby-text;
    background: turquoise;
}

.card-body {
    background-color: turquoise;
}